#banner{
    background-image: linear-gradient(to right,rgb(141, 141, 252),rgb(8, 8, 153));
    color: #fff;
    padding-top: 7%;
}

.login-container{
    align-self: center;
    width: 50%;
}

.text-center{
    margin-top: 15px;
    margin-bottom: 15px;
}

#login{
    background-color: rgb(141, 141, 252);
    margin-top:30px;
    margin-bottom:15px;
    border-radius: 25px;
    border: 2px solid black;
    align-self: center;
    width: 400px;
    height:250px;
}

